<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encriptador</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <img class="Logo" src="./Assets/logoA.png">

    <section class="apresentacao">

        <textarea placeholder="Digite seu texto" class="input-textarea"></textarea>
        
        <div class="botoes">
            <p><img src="./Assets/alerta.png">Apenas letras minúsculas e sem acento.</p>
            <br>
            <button class="criptografar" clonclick="Criptografar()">Criptografar</button>
            <button class="descriptografar" onclick="Descriptografar()">Descriptografar</button>
        </div>
        </section>

        <div class="divTexto">
            <img src="./Assets/High quality products 1 1.svg" id="image">
            <h2><strong id="no-message">Nenhuma mensagem <br> encontrada</strong></h2>
            <br>
            <p id="description">Digite um texto que você deseja Criptografar ou <br> Descriptografar</p>
            <div id="output-text"></div>
            <button id="copy-button" style="display: none;">Copiar</button>
        </div>        
        
    <footer class="rodape">
        <p>Desenvolvido por Lara Andrade em 2024</p>
    </footer>

    <script src="./index.js"></script>

</body>
</html>