<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encriptador</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <img class="Logo" src="./Assets/logoA.png">

    <section class="apresentacao">

        <textarea placeholder="Digite seu texto" class="input-textarea"></textarea>
        
        <div class="botoes">
            <p><img src="./Assets/alerta.png">Apenas letras minúsculas e sem acento.</p>
            <br>
            <button onclick="Criptografar()">Criptografar</button>
            <button class="botaoClaro" onclick="Descriptografar()">Descriptografar</button>
        </div>
        </section>

    <div class="divTexto">
        <img src="./Assets/High quality products 1 1.svg">
        <h2><strong>Nenhuma mensagem <br> encontrada</strong></h2>
        <br>
        <p>Digite um texto que você deseja Criptografar ou <br> Descriptografar</p>
    </div>

    <footer class="rodape">
        <p>Desenvolvido por Lara Andrade</p>
    </footer>

</body>
</html>